{
  "openapi": "3.0.0",
  "info": {
    "title": "Databricks Settings API (account)",
    "description": "OpenAPI specification for the Databricks settings service (account-level APIs), generated from the Databricks Python SDK.",
    "version": "0.1.0",
    "x-stackql-sdk-version": "0.123.0",
    "x-stackql-date-generated": "2026-07-31",
    "x-stackql-sdk-namespace": "databricks.sdk.service.settings"
  },
  "servers": [
    {
      "url": "https://accounts.cloud.databricks.com",
      "description": "Databricks account"
    }
  ],
  "paths": {
    "/api/2.0/accounts/{account_id}/ip-access-lists": {
      "post": {
        "operationId": "account_ip_access_lists_create",
        "summary": "Creates an IP access list for the account.",
        "tags": [
          "settings",
          "account_ip_access_lists"
        ],
        "description": "Creates an IP access list for the account.\n\nA list can be an allow list or a block list. See the top of this file for a description of how the\nserver treats allow lists and block lists at runtime.\n\nWhen creating or updating an IP access list:\n\n- For all allow lists and block lists combined, the API supports a maximum of 1000 IP/CIDR values,\n  where one CIDR counts as a single value. Attempts to exceed that number return error 400 with\n  ``error_code`` value ``QUOTA_EXCEEDED``.\n- If the new list would block the calling user's current IP, error 400 is returned with ``error_code``\n  value ``INVALID_STATE``.\n\nIt can take a few minutes for the changes to take effect.\n\n:param label: str\n  Label for the IP access list. This **cannot** be empty.\n:param list_type: :class:`ListType`\n:param ip_addresses: List[str] (optional)\n\n:returns: :class:`CreateIpAccessListResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Label for the IP access list. This **cannot** be empty."
                  },
                  "list_type": {
                    "type": "string",
                    "x-enum": [
                      "ALLOW",
                      "BLOCK"
                    ],
                    "description": "Type of IP access list. Valid values are as follows and are case-sensitive:\n\n- ``ALLOW``: An allow list. Include this IP or range.\n- ``BLOCK``: A block list. Exclude this IP or range. IP addresses in the block list are excluded\n  even if they are included in an allow list."
                  },
                  "ip_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "label",
                  "list_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateIpAccessListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountIpAccessListsAPI"
      },
      "get": {
        "operationId": "account_ip_access_lists_list",
        "summary": "Gets all IP access lists for the specified account.",
        "tags": [
          "settings",
          "account_ip_access_lists"
        ],
        "description": "Gets all IP access lists for the specified account.\n\n\n:returns: Iterator over :class:`IpAccessListInfo`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIpAccessListsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountIpAccessListsAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/ip-access-lists/{ip_access_list_id}": {
      "delete": {
        "operationId": "account_ip_access_lists_delete",
        "summary": "Deletes an IP access list, specified by its list ID.",
        "tags": [
          "settings",
          "account_ip_access_lists"
        ],
        "description": "Deletes an IP access list, specified by its list ID.\n\n:param ip_access_list_id: str\n  The ID for the corresponding IP access list",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip_access_list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the corresponding IP access list"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountIpAccessListsAPI"
      },
      "get": {
        "operationId": "account_ip_access_lists_get",
        "summary": "Gets an IP access list, specified by its list ID.",
        "tags": [
          "settings",
          "account_ip_access_lists"
        ],
        "description": "Gets an IP access list, specified by its list ID.\n\n:param ip_access_list_id: str\n  The ID for the corresponding IP access list\n\n:returns: :class:`GetIpAccessListResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip_access_list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the corresponding IP access list"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIpAccessListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountIpAccessListsAPI"
      },
      "put": {
        "operationId": "account_ip_access_lists_replace",
        "summary": "Replaces an IP access list, specified by its ID.",
        "tags": [
          "settings",
          "account_ip_access_lists"
        ],
        "description": "Replaces an IP access list, specified by its ID.\n\nA list can include allow lists and block lists. See the top of this file for a description of how the\nserver treats allow lists and block lists at run time. When replacing an IP access list:\n\n- For all allow lists and block lists combined, the API supports a maximum of 1000 IP/CIDR values,\n  where one CIDR counts as a single value. Attempts to exceed that number return error 400 with\n  ``error_code`` value ``QUOTA_EXCEEDED``.\n- If the resulting list would block the calling user's current IP, error 400 is returned with\n  ``error_code`` value ``INVALID_STATE``. It can take a few minutes for the changes to take effect.\n\n:param ip_access_list_id: str\n  The ID for the corresponding IP access list\n:param label: str\n  Label for the IP access list. This **cannot** be empty.\n:param list_type: :class:`ListType`\n:param enabled: bool\n  Specifies whether this IP access list is enabled.\n:param ip_addresses: List[str] (optional)",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip_access_list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the corresponding IP access list"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Label for the IP access list. This **cannot** be empty."
                  },
                  "list_type": {
                    "type": "string",
                    "x-enum": [
                      "ALLOW",
                      "BLOCK"
                    ],
                    "description": "Type of IP access list. Valid values are as follows and are case-sensitive:\n\n- ``ALLOW``: An allow list. Include this IP or range.\n- ``BLOCK``: A block list. Exclude this IP or range. IP addresses in the block list are excluded\n  even if they are included in an allow list."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Specifies whether this IP access list is enabled."
                  },
                  "ip_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "label",
                  "list_type",
                  "enabled"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountIpAccessListsAPI"
      },
      "patch": {
        "operationId": "account_ip_access_lists_update",
        "summary": "Updates an existing IP access list, specified by its ID.",
        "tags": [
          "settings",
          "account_ip_access_lists"
        ],
        "description": "Updates an existing IP access list, specified by its ID.\n\nA list can include allow lists and block lists. See the top of this file for a description of how the\nserver treats allow lists and block lists at run time.\n\nWhen updating an IP access list:\n\n- For all allow lists and block lists combined, the API supports a maximum of 1000 IP/CIDR values,\n  where one CIDR counts as a single value. Attempts to exceed that number return error 400 with\n  ``error_code`` value ``QUOTA_EXCEEDED``.\n- If the updated list would block the calling user's current IP, error 400 is returned with\n  ``error_code`` value ``INVALID_STATE``.\n\nIt can take a few minutes for the changes to take effect.\n\n:param ip_access_list_id: str\n  The ID for the corresponding IP access list\n:param enabled: bool (optional)\n  Specifies whether this IP access list is enabled.\n:param ip_addresses: List[str] (optional)\n:param label: str (optional)\n  Label for the IP access list. This **cannot** be empty.\n:param list_type: :class:`ListType` (optional)",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip_access_list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the corresponding IP access list"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Specifies whether this IP access list is enabled."
                  },
                  "ip_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "label": {
                    "type": "string",
                    "description": "Label for the IP access list. This **cannot** be empty."
                  },
                  "list_type": {
                    "type": "string",
                    "x-enum": [
                      "ALLOW",
                      "BLOCK"
                    ],
                    "description": "Type of IP access list. Valid values are as follows and are case-sensitive:\n\n- ``ALLOW``: An allow list. Include this IP or range.\n- ``BLOCK``: A block list. Exclude this IP or range. IP addresses in the block list are excluded\n  even if they are included in an allow list."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountIpAccessListsAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/network-connectivity-configs": {
      "post": {
        "operationId": "network_connectivity_create_network_connectivity_configuration",
        "summary": "Creates a network connectivity configuration (NCC), which provides stable Azure service subnets when",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Creates a network connectivity configuration (NCC), which provides stable Azure service subnets when\naccessing your Azure Storage accounts. You can also use a network connectivity configuration to create\nDatabricks managed private endpoints so that Databricks serverless compute resources privately access\nyour resources.\n\n**IMPORTANT**: After you create the network connectivity configuration, you must assign one or more\nworkspaces to the new network connectivity configuration. You can share one network connectivity\nconfiguration with multiple workspaces from the same Azure region within the same Databricks account.\nSee `configure serverless secure connectivity\n<https://learn.microsoft.com/azure/databricks/security/network/serverless-network-security>`__.\n\n:param network_connectivity_config: :class:`CreateNetworkConnectivityConfiguration`\n\n:returns: :class:`NetworkConnectivityConfiguration`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network_connectivity_config": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the network connectivity configuration. The name can contain alphanumeric characters, hyphens, and underscores. The length must be between 3 and 30 characters. The name must match the regular expression ^[0-9a-zA-Z-_]{3,30}$"
                      },
                      "region": {
                        "type": "string",
                        "description": "The region for the network connectivity configuration. Only workspaces in the same region can be attached to the network connectivity configuration."
                      }
                    },
                    "required": [
                      "name",
                      "region"
                    ],
                    "description": "Properties of the new network connectivity configuration."
                  }
                },
                "required": [
                  "network_connectivity_config"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConnectivityConfiguration"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      },
      "get": {
        "operationId": "network_connectivity_list_network_connectivity_configurations",
        "summary": "Gets an array of network connectivity configurations.",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Gets an array of network connectivity configurations.\n\n:param page_token: str (optional)\n  Pagination token to go to next page based on previous query.\n\n:returns: Iterator over :class:`NetworkConnectivityConfiguration`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token to go to next page based on previous query."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNetworkConnectivityConfigurationsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/network-connectivity-configs/{network_connectivity_config_id}/private-endpoint-rules": {
      "post": {
        "operationId": "network_connectivity_create_private_endpoint_rule",
        "summary": "Create a private endpoint rule for the specified network connectivity config object. Once the object",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Create a private endpoint rule for the specified network connectivity config object. Once the object\nis created, Databricks asynchronously provisions a new Azure private endpoint to your specified Azure\nresource.\n\n**IMPORTANT**: You must use Azure portal or other Azure tools to approve the private endpoint to\ncomplete the connection. To get the information of the private endpoint created, make a ``GET``\nrequest on the new private endpoint rule. See `serverless private link\n<https://learn.microsoft.com/azure/databricks/security/network/serverless-network-security/serverless-private-link>`__.\n\n:param network_connectivity_config_id: str\n  Your Network Connectivity Configuration ID.\n:param private_endpoint_rule: :class:`CreatePrivateEndpointRule`\n\n:returns: :class:`NccPrivateEndpointRule`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_connectivity_config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Network Connectivity Configuration ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "private_endpoint_rule": {
                    "type": "object",
                    "properties": {
                      "domain_names": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Only used by private endpoints to customer-managed private endpoint services. Domain names of target private link service. When updating this field, the full list of target domain_names must be specified."
                      },
                      "endpoint_service": {
                        "type": "string",
                        "description": "The full target AWS endpoint service name that connects to the destination resources of the private endpoint."
                      },
                      "error_message": {
                        "type": "string"
                      },
                      "gcp_endpoint": {
                        "type": "object",
                        "properties": {
                          "all_vpc_sc_services": {
                            "type": "boolean"
                          },
                          "google_api_endpoints": {
                            "type": "object",
                            "properties": {
                              "endpoints": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Google API hostnames, e.g. \"storage.googleapis.com\", \"bigquery.googleapis.com\". Use \"googleapis.com\" to cover all Google APIs."
                              }
                            },
                            "description": "Selected Google API hostnames, e.g. \"storage.googleapis.com\", \"bigquery.googleapis.com\"."
                          },
                          "psc_endpoint_uri": {
                            "type": "string",
                            "description": "Output only. The URI of the created PSC endpoint."
                          },
                          "service_attachment": {
                            "type": "string",
                            "description": "The full url of the target service attachment. Example: projects/my-gcp-project/regions/us-east4/serviceAttachments/my-service-attachment"
                          }
                        }
                      },
                      "group_id": {
                        "type": "string",
                        "description": "Not used by customer-managed private endpoint services. The sub-resource type (group ID) of the target resource. Note that to connect to workspace root storage (root DBFS), you need two endpoints, one for blob and one for dfs."
                      },
                      "resource_id": {
                        "type": "string",
                        "description": "The Azure resource ID of the target resource."
                      },
                      "resource_names": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Only used by private endpoints towards AWS S3 service. The globally unique S3 bucket names that will be accessed via the VPC endpoint. The bucket names must be in the same region as the NCC/endpoint service. When updating this field, we perform full update on this field. Please ensure a full list of desired resource_names is provided."
                      }
                    },
                    "description": "Properties of the new private endpoint rule. Note that you must approve the endpoint in Azure\n    portal after initialization."
                  }
                },
                "required": [
                  "private_endpoint_rule"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NccPrivateEndpointRule"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      },
      "get": {
        "operationId": "network_connectivity_list_private_endpoint_rules",
        "summary": "Gets an array of private endpoint rules.",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Gets an array of private endpoint rules.\n\n:param network_connectivity_config_id: str\n  Your Network Connectvity Configuration ID.\n:param page_size: int (optional)\n:param page_token: str (optional)\n  Pagination token to go to next page based on previous query.\n\n:returns: Iterator over :class:`NccPrivateEndpointRule`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_connectivity_config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Network Connectvity Configuration ID."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token to go to next page based on previous query."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrivateEndpointRulesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/network-connectivity-configs/{network_connectivity_config_id}": {
      "delete": {
        "operationId": "network_connectivity_delete_network_connectivity_configuration",
        "summary": "Deletes a network connectivity configuration.",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Deletes a network connectivity configuration.\n\n:param network_connectivity_config_id: str\n  Your Network Connectivity Configuration ID.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_connectivity_config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Network Connectivity Configuration ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      },
      "get": {
        "operationId": "network_connectivity_get_network_connectivity_configuration",
        "summary": "Gets a network connectivity configuration.",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Gets a network connectivity configuration.\n\n:param network_connectivity_config_id: str\n  Your Network Connectivity Configuration ID.\n\n:returns: :class:`NetworkConnectivityConfiguration`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_connectivity_config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Network Connectivity Configuration ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConnectivityConfiguration"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/network-connectivity-configs/{network_connectivity_config_id}/private-endpoint-rules/{private_endpoint_rule_id}": {
      "delete": {
        "operationId": "network_connectivity_delete_private_endpoint_rule",
        "summary": "Initiates deleting a private endpoint rule. If the connection state is PENDING or EXPIRED, the private",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Initiates deleting a private endpoint rule. If the connection state is PENDING or EXPIRED, the private\nendpoint is immediately deleted. Otherwise, the private endpoint is deactivated and will be deleted\nafter one day of deactivation. When a private endpoint is deactivated, the ``deactivated`` field is\nset to ``true`` and the private endpoint is not available to your serverless compute resources.\n\n:param network_connectivity_config_id: str\n  Your Network Connectvity Configuration ID.\n:param private_endpoint_rule_id: str\n  Your private endpoint rule ID.\n\n:returns: :class:`NccPrivateEndpointRule`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_connectivity_config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Network Connectvity Configuration ID."
          },
          {
            "name": "private_endpoint_rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your private endpoint rule ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NccPrivateEndpointRule"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      },
      "get": {
        "operationId": "network_connectivity_get_private_endpoint_rule",
        "summary": "Gets the private endpoint rule.",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Gets the private endpoint rule.\n\n:param network_connectivity_config_id: str\n  Your Network Connectvity Configuration ID.\n:param private_endpoint_rule_id: str\n  Your private endpoint rule ID.\n\n:returns: :class:`NccPrivateEndpointRule`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_connectivity_config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Network Connectvity Configuration ID."
          },
          {
            "name": "private_endpoint_rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your private endpoint rule ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NccPrivateEndpointRule"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      },
      "patch": {
        "operationId": "network_connectivity_update_private_endpoint_rule",
        "summary": "Updates a private endpoint rule. Currently only a private endpoint rule to customer-managed resources",
        "tags": [
          "settings",
          "network_connectivity"
        ],
        "description": "Updates a private endpoint rule. Currently only a private endpoint rule to customer-managed resources\nis allowed to be updated.\n\n:param network_connectivity_config_id: str\n  The ID of a network connectivity configuration, which is the parent resource of this private\n  endpoint rule object.\n:param private_endpoint_rule_id: str\n  Your private endpoint rule ID.\n:param private_endpoint_rule: :class:`UpdatePrivateEndpointRule`\n:param update_mask: str\n  The field mask must be a single string, with multiple fields separated by commas (no spaces). The\n  field path is relative to the resource object, using a dot (``.``) to navigate sub-fields (e.g.,\n  ``author.given_name``). Specification of elements in sequence or map fields is not allowed, as only\n  the entire collection field can be specified. Field names must exactly match the resource field\n  names.\n\n:returns: :class:`NccPrivateEndpointRule`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_connectivity_config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of a network connectivity configuration, which is the parent resource of this private endpoint rule object."
          },
          {
            "name": "private_endpoint_rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your private endpoint rule ID."
          },
          {
            "name": "update_mask",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The field mask must be a single string, with multiple fields separated by commas (no spaces). The field path is relative to the resource object, using a dot (``.``) to navigate sub-fields (e.g., ``author.given_name``). Specification of elements in sequence or map fields is not allowed, as only the entire collection field can be specified. Field names must exactly match the resource field names."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "private_endpoint_rule": {
                    "type": "object",
                    "properties": {
                      "domain_names": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Only used by private endpoints to customer-managed private endpoint services. Domain names of target private link service. When updating this field, the full list of target domain_names must be specified."
                      },
                      "enabled": {
                        "type": "boolean",
                        "description": "Update this field to activate/deactivate this private endpoint to allow egress access from serverless compute resources. Only honored for first-party services on each cloud (e.g. AWS S3)."
                      },
                      "error_message": {
                        "type": "string"
                      },
                      "gcp_endpoint": {
                        "type": "object",
                        "properties": {
                          "all_vpc_sc_services": {
                            "type": "boolean"
                          },
                          "google_api_endpoints": {
                            "type": "object",
                            "properties": {
                              "endpoints": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Google API hostnames, e.g. \"storage.googleapis.com\", \"bigquery.googleapis.com\". Use \"googleapis.com\" to cover all Google APIs."
                              }
                            },
                            "description": "Selected Google API hostnames, e.g. \"storage.googleapis.com\", \"bigquery.googleapis.com\"."
                          },
                          "psc_endpoint_uri": {
                            "type": "string",
                            "description": "Output only. The URI of the created PSC endpoint."
                          },
                          "service_attachment": {
                            "type": "string",
                            "description": "The full url of the target service attachment. Example: projects/my-gcp-project/regions/us-east4/serviceAttachments/my-service-attachment"
                          }
                        }
                      },
                      "resource_names": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Only used by private endpoints towards AWS S3 service. The globally unique S3 bucket names that will be accessed via the VPC endpoint. The bucket names must be in the same region as the NCC/endpoint service. When updating this field, we perform full update on this field. Please ensure a full list of desired resource_names is provided."
                      }
                    },
                    "description": "Properties of the new private endpoint rule. Note that you must approve the endpoint in Azure\n    portal after initialization."
                  }
                },
                "required": [
                  "private_endpoint_rule"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NccPrivateEndpointRule"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "NetworkConnectivityAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/network-policies": {
      "post": {
        "operationId": "network_policies_create_network_policy_rpc",
        "summary": "Creates a new network policy to manage which network destinations can be accessed from the Databricks",
        "tags": [
          "settings",
          "network_policies"
        ],
        "description": "Creates a new network policy to manage which network destinations can be accessed from the Databricks\nenvironment.\n\n:param network_policy: :class:`AccountNetworkPolicy`\n  Network policy configuration details.\n\n:returns: :class:`AccountNetworkPolicy`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network_policy": {
                    "type": "object",
                    "properties": {
                      "account_id": {
                        "type": "string"
                      },
                      "egress": {
                        "type": "object",
                        "properties": {
                          "network_access": {
                            "type": "object",
                            "properties": {
                              "restriction_mode": {
                                "type": "string",
                                "x-enum": [
                                  "FULL_ACCESS",
                                  "RESTRICTED_ACCESS"
                                ],
                                "description": "At which level can Databricks and Databricks managed compute access Internet. FULL_ACCESS:\nDatabricks can access Internet. No blocking rules will apply. RESTRICTED_ACCESS: Databricks can\nonly access explicitly allowed internet and storage destinations, as well as UC connections and\nexternal locations."
                              },
                              "allowed_databricks_destinations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "workspace_ids": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer"
                                      }
                                    }
                                  }
                                },
                                "description": "List of Databricks workspace destinations that serverless workloads are allowed to access when in RESTRICTED_ACCESS mode."
                              },
                              "allowed_internet_destinations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "destination": {
                                      "type": "string",
                                      "description": "The internet destination to which access will be allowed. Format dependent on the destination type."
                                    },
                                    "internet_destination_type": {
                                      "type": "string",
                                      "x-enum": [
                                        "DNS_NAME"
                                      ],
                                      "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                    }
                                  },
                                  "description": "Users can specify accessible internet destinations when outbound access is restricted. We only\n    support DNS_NAME (FQDN format) destinations for the time being. Going forward we may extend\n    support to host names and IP addresses."
                                },
                                "description": "List of internet destinations that serverless workloads are allowed to access when in RESTRICTED_ACCESS mode."
                              },
                              "allowed_storage_destinations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "azure_storage_account": {
                                      "type": "string",
                                      "description": "The Azure storage account name."
                                    },
                                    "azure_storage_service": {
                                      "type": "string",
                                      "description": "The Azure storage service type (blob, dfs, etc.)."
                                    },
                                    "bucket_name": {
                                      "type": "string"
                                    },
                                    "region": {
                                      "type": "string"
                                    },
                                    "storage_destination_type": {
                                      "type": "string",
                                      "x-enum": [
                                        "AWS_S3",
                                        "AZURE_STORAGE",
                                        "GOOGLE_CLOUD_STORAGE"
                                      ],
                                      "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                    }
                                  },
                                  "description": "Users can specify accessible storage destinations."
                                },
                                "description": "List of storage destinations that serverless workloads are allowed to access when in RESTRICTED_ACCESS mode."
                              },
                              "blocked_internet_destinations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "destination": {
                                      "type": "string",
                                      "description": "The internet destination to which access will be allowed. Format dependent on the destination type."
                                    },
                                    "internet_destination_type": {
                                      "type": "string",
                                      "x-enum": [
                                        "DNS_NAME"
                                      ],
                                      "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                    }
                                  },
                                  "description": "Users can specify accessible internet destinations when outbound access is restricted. We only\n    support DNS_NAME (FQDN format) destinations for the time being. Going forward we may extend\n    support to host names and IP addresses."
                                },
                                "description": "List of internet destinations that serverless workloads are blocked from accessing. These destinations are enforced when restriction mode is RESTRICTED_ACCESS or DRY_RUN. Currently supports DNS_NAME type only; IP_RANGE support is planned."
                              },
                              "policy_enforcement": {
                                "type": "object",
                                "properties": {
                                  "dry_run_mode_product_filter": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "x-enum": [
                                        "DBSQL",
                                        "ML_SERVING"
                                      ],
                                      "description": "The values should match the list of workloads used in networkconfig.proto"
                                    }
                                  },
                                  "enforcement_mode": {
                                    "type": "string",
                                    "x-enum": [
                                      "DRY_RUN",
                                      "ENFORCED"
                                    ],
                                    "description": "The mode of policy enforcement. ENFORCED blocks traffic that violates policy, while DRY_RUN only logs violations without blocking. When not specified, defaults to ENFORCED."
                                  }
                                },
                                "description": "Optional. When policy_enforcement is not provided, we default to ENFORCE_MODE_ALL_SERVICES"
                              }
                            },
                            "required": [
                              "restriction_mode"
                            ],
                            "description": "The access policy enforced for egress traffic to the internet."
                          }
                        },
                        "description": "The network policies applying for egress traffic."
                      },
                      "ingress": {
                        "type": "object",
                        "properties": {
                          "cross_workspace_access": {
                            "type": "object",
                            "properties": {
                              "restriction_mode": {
                                "type": "string",
                                "x-enum": [
                                  "FULL_ACCESS",
                                  "RESTRICTED_ACCESS"
                                ],
                                "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                              },
                              "allow_rules": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "authentication": {
                                      "type": "object",
                                      "properties": {
                                        "identities": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "principal_id": {
                                                "type": "integer"
                                              },
                                              "principal_type": {
                                                "type": "string",
                                                "x-enum": [
                                                  "PRINCIPAL_TYPE_SERVICE_PRINCIPAL",
                                                  "PRINCIPAL_TYPE_USER"
                                                ],
                                                "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                              }
                                            }
                                          }
                                        },
                                        "identity_type": {
                                          "type": "string",
                                          "x-enum": [
                                            "IDENTITY_TYPE_ALL_SERVICE_PRINCIPALS",
                                            "IDENTITY_TYPE_ALL_USERS",
                                            "IDENTITY_TYPE_SELECTED_IDENTITIES"
                                          ],
                                          "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                        }
                                      }
                                    },
                                    "destination": {
                                      "type": "object",
                                      "properties": {
                                        "account_api": {
                                          "type": "object",
                                          "properties": {
                                            "excluded_scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "Inverse of ``scopes``: matches every API scope EXCEPT those listed here (\"allow all except\"). Mutually exclusive with ``scopes`` \u2014 a single destination may set at most one of the two."
                                            },
                                            "scope_constraint": {
                                              "type": "string",
                                              "x-enum": [
                                                "ALL",
                                                "READ"
                                              ],
                                              "description": "Deprecated: Use scope_qualifier instead."
                                            },
                                            "scope_qualifier": {
                                              "type": "string",
                                              "x-enum": [
                                                "API_SCOPE_QUALIFIER_ALL",
                                                "API_SCOPE_QUALIFIER_READ"
                                              ],
                                              "description": "Qualifies the breadth of API access for the listed scopes. See ApiScopeQualifier."
                                            },
                                            "scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "The API scopes to match. Use \"all-apis\" to match any account-level API."
                                            }
                                          },
                                          "description": "Matches account-level Databricks API endpoints for an ingress network policy rule."
                                        },
                                        "account_databricks_one": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          },
                                          "description": "Account DatabricksOne destination is not supported."
                                        },
                                        "account_ui": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean",
                                              "description": "Must be set to true."
                                            }
                                          },
                                          "description": "Matches requests to the account console UI. Can only be used in the account-level network policy."
                                        },
                                        "all_destinations": {
                                          "type": "boolean",
                                          "description": "When true, match all destinations, no other destination fields can be set. When not set or false, at least one specific destination must be provided."
                                        },
                                        "apps_runtime": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "lakebase_runtime": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "workspace_api": {
                                          "type": "object",
                                          "properties": {
                                            "excluded_scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "Inverse of ``scopes``: matches every API scope EXCEPT those listed here (\"allow all except\"). Mutually exclusive with ``scopes`` \u2014 a single destination may set at most one of the two."
                                            },
                                            "scope_constraint": {
                                              "type": "string",
                                              "x-enum": [
                                                "ALL",
                                                "READ"
                                              ],
                                              "description": "Deprecated: Use scope_qualifier instead."
                                            },
                                            "scope_qualifier": {
                                              "type": "string",
                                              "x-enum": [
                                                "API_SCOPE_QUALIFIER_ALL",
                                                "API_SCOPE_QUALIFIER_READ"
                                              ],
                                              "description": "Qualifies the breadth of API access for the listed scopes. See ApiScopeQualifier."
                                            },
                                            "scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "description": "Matches workspace-level Databricks API endpoints for an ingress network policy rule."
                                        },
                                        "workspace_ui": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "label": {
                                      "type": "string",
                                      "description": "The label for this ingress rule."
                                    },
                                    "origin": {
                                      "type": "object",
                                      "properties": {
                                        "all_source_workspaces": {
                                          "type": "boolean"
                                        },
                                        "selected_workspaces": {
                                          "type": "object",
                                          "properties": {
                                            "workspace_ids": {
                                              "type": "array",
                                              "items": {
                                                "type": "integer"
                                              }
                                            }
                                          },
                                          "description": "Specific source workspace IDs to match."
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "deny_rules": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "authentication": {
                                      "type": "object",
                                      "properties": {
                                        "identities": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "principal_id": {
                                                "type": "integer"
                                              },
                                              "principal_type": {
                                                "type": "string",
                                                "x-enum": [
                                                  "PRINCIPAL_TYPE_SERVICE_PRINCIPAL",
                                                  "PRINCIPAL_TYPE_USER"
                                                ],
                                                "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                              }
                                            }
                                          }
                                        },
                                        "identity_type": {
                                          "type": "string",
                                          "x-enum": [
                                            "IDENTITY_TYPE_ALL_SERVICE_PRINCIPALS",
                                            "IDENTITY_TYPE_ALL_USERS",
                                            "IDENTITY_TYPE_SELECTED_IDENTITIES"
                                          ],
                                          "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                        }
                                      }
                                    },
                                    "destination": {
                                      "type": "object",
                                      "properties": {
                                        "account_api": {
                                          "type": "object",
                                          "properties": {
                                            "excluded_scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "Inverse of ``scopes``: matches every API scope EXCEPT those listed here (\"allow all except\"). Mutually exclusive with ``scopes`` \u2014 a single destination may set at most one of the two."
                                            },
                                            "scope_constraint": {
                                              "type": "string",
                                              "x-enum": [
                                                "ALL",
                                                "READ"
                                              ],
                                              "description": "Deprecated: Use scope_qualifier instead."
                                            },
                                            "scope_qualifier": {
                                              "type": "string",
                                              "x-enum": [
                                                "API_SCOPE_QUALIFIER_ALL",
                                                "API_SCOPE_QUALIFIER_READ"
                                              ],
                                              "description": "Qualifies the breadth of API access for the listed scopes. See ApiScopeQualifier."
                                            },
                                            "scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "The API scopes to match. Use \"all-apis\" to match any account-level API."
                                            }
                                          },
                                          "description": "Matches account-level Databricks API endpoints for an ingress network policy rule."
                                        },
                                        "account_databricks_one": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          },
                                          "description": "Account DatabricksOne destination is not supported."
                                        },
                                        "account_ui": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean",
                                              "description": "Must be set to true."
                                            }
                                          },
                                          "description": "Matches requests to the account console UI. Can only be used in the account-level network policy."
                                        },
                                        "all_destinations": {
                                          "type": "boolean",
                                          "description": "When true, match all destinations, no other destination fields can be set. When not set or false, at least one specific destination must be provided."
                                        },
                                        "apps_runtime": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "lakebase_runtime": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "workspace_api": {
                                          "type": "object",
                                          "properties": {
                                            "excluded_scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "Inverse of ``scopes``: matches every API scope EXCEPT those listed here (\"allow all except\"). Mutually exclusive with ``scopes`` \u2014 a single destination may set at most one of the two."
                                            },
                                            "scope_constraint": {
                                              "type": "string",
                                              "x-enum": [
                                                "ALL",
                                                "READ"
                                              ],
                                              "description": "Deprecated: Use scope_qualifier instead."
                                            },
                                            "scope_qualifier": {
                                              "type": "string",
                                              "x-enum": [
                                                "API_SCOPE_QUALIFIER_ALL",
                                                "API_SCOPE_QUALIFIER_READ"
                                              ],
                                              "description": "Qualifies the breadth of API access for the listed scopes. See ApiScopeQualifier."
                                            },
                                            "scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "description": "Matches workspace-level Databricks API endpoints for an ingress network policy rule."
                                        },
                                        "workspace_ui": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "label": {
                                      "type": "string",
                                      "description": "The label for this ingress rule."
                                    },
                                    "origin": {
                                      "type": "object",
                                      "properties": {
                                        "all_source_workspaces": {
                                          "type": "boolean"
                                        },
                                        "selected_workspaces": {
                                          "type": "object",
                                          "properties": {
                                            "workspace_ids": {
                                              "type": "array",
                                              "items": {
                                                "type": "integer"
                                              }
                                            }
                                          },
                                          "description": "Specific source workspace IDs to match."
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "required": [
                              "restriction_mode"
                            ]
                          },
                          "private_access": {
                            "type": "object",
                            "properties": {
                              "restriction_mode": {
                                "type": "string",
                                "x-enum": [
                                  "ALLOW_ALL_REGISTERED_ENDPOINTS",
                                  "RESTRICTED_ACCESS"
                                ],
                                "description": "The restriction mode for private access."
                              },
                              "allow_rules": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "authentication": {
                                      "type": "object",
                                      "properties": {
                                        "identities": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "principal_id": {
                                                "type": "integer"
                                              },
                                              "principal_type": {
                                                "type": "string",
                                                "x-enum": [
                                                  "PRINCIPAL_TYPE_SERVICE_PRINCIPAL",
                                                  "PRINCIPAL_TYPE_USER"
                                                ],
                                                "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                              }
                                            }
                                          }
                                        },
                                        "identity_type": {
                                          "type": "string",
                                          "x-enum": [
                                            "IDENTITY_TYPE_ALL_SERVICE_PRINCIPALS",
                                            "IDENTITY_TYPE_ALL_USERS",
                                            "IDENTITY_TYPE_SELECTED_IDENTITIES"
                                          ],
                                          "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
                                        }
                                      },
                                      "description": "The authenticated identity the request must match. When unset, the rule matches all users and service principals. On the account-level network policy, scoping to specific identities is not currently supported, so this field must be unset (the rule matches all users and service principals)."
                                    },
                                    "destination": {
                                      "type": "object",
                                      "properties": {
                                        "account_api": {
                                          "type": "object",
                                          "properties": {
                                            "excluded_scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "Inverse of ``scopes``: matches every API scope EXCEPT those listed here (\"allow all except\"). Mutually exclusive with ``scopes`` \u2014 a single destination may set at most one of the two."
                                            },
                                            "scope_constraint": {
                                              "type": "string",
                                              "x-enum": [
                                                "ALL",
                                                "READ"
                                              ],
                                              "description": "Deprecated: Use scope_qualifier instead."
                                            },
                                            "scope_qualifier": {
                                              "type": "string",
                                              "x-enum": [
                                                "API_SCOPE_QUALIFIER_ALL",
                                                "API_SCOPE_QUALIFIER_READ"
                                              ],
                                              "description": "Qualifies the breadth of API access for the listed scopes. See ApiScopeQualifier."
                                            },
                                            "scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "The API scopes to match. Use \"all-apis\" to match any account-level API."
                                            }
                                          },
                                          "description": "Matches account-level Databricks API endpoints for an ingress network policy rule."
                                        },
                                        "account_databricks_one": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          },
                                          "description": "Account DatabricksOne destination is not supported."
                                        },
                                        "account_ui": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean",
                                              "description": "Must be set to true."
                                            }
                                          },
                                          "description": "Matches requests to the account console UI. Can only be used in the account-level network policy."
                                        },
                                        "all_destinations": {
                                          "type": "boolean",
                                          "description": "When true, match all destinations, no other destination fields can be set. When not set or false, at least one specific destination must be provided."
                                        },
                                        "apps_runtime": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "lakebase_runtime": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "workspace_api": {
                                          "type": "object",
                                          "properties": {
                                            "excluded_scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "description": "Inverse of ``scopes``: matches every API scope EXCEPT those listed here (\"allow all except\"). Mutually exclusive with ``scopes`` \u2014 a single destination may set at most one of the two."
                                            },
                                            "scope_constraint": {
                                              "type": "string",
                                              "x-enum": [
                                                "ALL",
                                                "READ"
                                              ],
                                              "description": "Deprecated: Use scope_qualifier instead."
                                            },
                                            "scope_qualifier": {
                                              "type": "string",
                                              "x-enum": [
                                                "API_SCOPE_QUALIFIER_ALL",
                                                "API_SCOPE_QUALIFIER_READ"
                                              ],
                                              "description": "Qualifies the breadth of API access for the listed scopes. See ApiScopeQualifier."
                                            },
                                            "scopes": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "description": "Matches workspace-level Databricks API endpoints for an ingress network policy rule."
                                        },
                                        "workspace_ui": {
                                          "type": "object",
                                          "properties": {
                                            "all_destinations": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      },
                                      "description": "The destination the request must match \u2014 the resource being accessed, for example the workspace UI, workspace APIs, or account-level APIs. See RequestDestination."
                                    },
                                    "label": {
                                      "type": "string",
                                      "description": "The label for this ingress rule."
                                    },
                                    "origin": {
                                      "type": "object",
                                      "properties": {
                                        "all_private_access": {
                                          "type": "boolean",
[...]
